@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }

}

@media screen and (max-width:992px) {
  .left-line{
    border: none !important;
  }
}

.navbar-nav {
  gap: 0.5rem;
  align-items: center;
}

.navbar-nav > .nav-item > .nav-link > span {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #3d474d !important;
}

.navbar-nav > .nav-item > .dropdown > .dropdown-toggle::after {
  content: none;
}

.navbar-nav > .nav-item > .dropdown > .language-div > .language > span {
  color: #3d474d;
  font-family: "Noto Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-nav > .nav-item > .dropdown > .language-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left-line {
  border-left: 1px solid #d9d9d9;
  padding: 0.4rem;
}

.navbar-nav > li > a > button {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 14px;
  background: #7e5bf6;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
}
.eng_btn_bg{

    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529 !important;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none !important;
}
.dropdown-menu{
margin-top: 20px !important;
}

/* Navbar */
/* @media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}

.navbar-nav {
  gap: 0.5rem;
  align-items: center;
}

.navbar-nav > .nav-item > .nav-link {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #3d474d !important;
}

.left-line {
  border-left: 1px solid #d9d9d9;
  padding: 0.4rem;
}

.navbar-nav > li > a > button {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 14px;
  background: #7e5bf6;
  border-radius: 4px;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
} */

/* @media (min-width: 1400px) {
  .container {
    max-width: 1620px !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    height: 10vh;
  }
} */

/* Section 1 */

.section-1 {
  /* background-image: url(/assets/images/Group\ 311.png); */
  background: url(../images/boy.png) ;
  background-size: 20% 54% ;
  background-position: right bottom ;
  background-repeat: no-repeat ;
}
.back-images{
  width: 70%;
  height: 4rem;
}
.start{
  margin-top: 1.4rem;
  margin-left: 5rem;
}
.mid{
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 9rem !important;
  margin-top: 1.3rem;
}
.last{
    margin-right:1rem ;
    width: 2rem;
    height: 2rem;
}

@media (min-width: 576px) {
  .section-1.container {
    max-width: 696px;
  }
}

@media (min-width: 768px) {
  .section-1.container {
    max-width: 888px;
  }
}

@media (min-width: 992px) {
  .section-1.container {
    max-width: 1112px;
  }
}

@media (min-width: 1200px) {
  .section-1.container {
    max-width: 1320px;
  }
}

@media (min-width: 1400px) {
  .section-1.container {
    max-width: 1520px;
  }
}

@media (max-width: 425px) {
  .section-1 {
    background-image: none;
  }

  .mid{
display: none;
  }
  .start{
    display: none;
  }
}
@media (max-width:456px) {
  .last{
    display: none !important;
  }
}
.section-1 > .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.section-1 > .text-container > .text-line-1 {
  font-family: "Noto Sans";
  font-size: 58px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -2px;
  text-align: center;
  color: #343434;
}

.section-1 > .text-container > .text-line-2 {
  font-family: "Noto Sans";
  font-size: 58px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -2px;
  text-align: center;
  color: #7e5bf6;
}

.section-1 > .text-container > .text-line-3 {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #74767e;
  width: 45%;
}

.section-1 > .text-container > .button-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 425px) {
  .section-1 > .text-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section-1 > .text-container > .text-line-1 {
    font-size: 50px;
  }
  .section-1 > .text-container > .text-line-2 {
    font-size: 50px;
  }
  .section-1 > .text-container > .text-line-3 {
    font-size: 16px;
    width: 80%;
  }
  .section-1 > .text-container > .button-section {
    flex-direction: column;
  }
}

.section-1 > .text-container > .button-section > .button-1 > button  {
  background: #7e5bf6;
  border-radius: 4px;
  border: 1px solid #7e5bf6;
  color: #fff !important;
  padding: 1rem 4rem 1rem 4rem;

  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}
.button-1 > button > a{
  text-decoration: none;
  color: white;
}
.button-2 > button > a{
  text-decoration: none;
  color: #3D474D;

}

.section-1 > .text-container > .button-section > .button-2 > button {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #74767e;
  padding: 1rem 2.6rem 1rem 2.6rem;

  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #3d474d;
}

/* Section 2 */
.section-2 {
  background: #7e5bf63b;
}

.section-2 > .container > .section-2-main {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 5rem 5rem 5rem 5rem;
}

.section-2 > .container > .section-2-main > .section-left {
  object-fit: contain;
  width: 50%;
  text-align: center;
}

.section-2 > .container > .section-2-main > .section-right {
  width: 50%;
}

.section-2
  > .container
  > .section-2-main
  > .section-right
  > .text-line-1
  > span {
  font-family: "Noto Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #343434;
}

.section-2
  > .container
  > .section-2-main
  > .section-right
  > .text-line-1
  > span
  > span {
  font-family: "Noto Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #7e5bf6;
}

.section-2 > .container > .section-2-main > .section-right > .text-line-2 {
  margin-top: 1.5rem;
}

.section-2
  > .container
  > .section-2-main
  > .section-right
  > .text-line-2
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
}

.section-2 > .container > .section-2-main > .section-right > .button-line {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.section-2
  > .container
  > .section-2-main
  > .section-right
  > .button-line
  > .button-1
  > button {
  background: #7e5bf6;
  border-radius: 4px;
  border: 1px solid #7e5bf6;
  color: #fff;
  padding: 1rem 2.9rem 1rem 2.9rem;

  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.section-2
  > .container
  > .section-2-main
  > .section-right
  > .button-line
  > .button-2
  > button {
  background: #7e5bf600;
  border-radius: 4px;
  border: 1px solid #3d474d;
  padding: 1rem 2.6rem 1rem 2.6rem;

  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #3d474d;
}

@media (max-width: 1400px) {
  .section-2
    > .container
    > .section-2-main
    > .section-right
    > .button-line
    > .button-1
    > button {
    white-space: nowrap;
  }

  .section-2
    > .container
    > .section-2-main
    > .section-right
    > .button-line
    > .button-2
    > button {
    white-space: nowrap;
  }
}

@media (max-width: 1220px) {
  .section-2 > .container > .section-2-main {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .section-2 > .container > .section-2-main > .section-left {
    width: 100%;
  }

  .section-2 > .container > .section-2-main > .section-right {
    width: 100%;
    text-align: center;
  }

  .section-2 > .container > .section-2-main > .section-right > .button-line {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .section-2 > .container > .section-2-main > .section-left > img {
    width: inherit;
  }

  .section-2 > .container > .section-2-main {
    padding: 2rem 2rem 2rem 2rem;
  }

  .section-2 > .container > .section-2-main > .section-right > .button-line {
    flex-direction: column;
  }
}

/* Section-3 */

.section-3 {
  background-color: #c4bfff21;
}

.section-3 > .container > .section-3-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding: 5rem 5rem 5rem 5rem;
}

.section-3 > .container > .section-3-main > .section-left {
  width: 50%;
}

.section-3 > .container > .section-3-main > .section-right {
  object-fit: contain;
  width: 50%;
  text-align: center;
}

.section-3
  > .container
  > .section-3-main
  > .section-left
  > .text-line-1
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
  color: #343434;
}

.section-3 > .container > .section-3-main > .section-left > .text-line-2 {
  margin-top: 1.5rem;
}

.section-3
  > .container
  > .section-3-main
  > .section-left
  > .text-line-2
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
}

@media (max-width: 1200px) {
  .section-3 > .container > .section-3-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

@media (max-width: 1024px) {
  .section-3 > .container > .section-3-main {
    flex-direction: column-reverse;
    padding: 5rem 5rem 5rem 5rem;
  }
  .section-3 > .container > .section-3-main > .section-right {
    width: 90%;
  }
  .section-3 > .container > .section-3-main > .section-right > img {
    width: inherit;
  }
  .section-3 > .container > .section-3-main > .section-left {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-3 > .container > .section-3-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

/* Section-4 */

.section-4 {
  background-color: #c4bfff21;
}

.section-4 > .container > .section-4-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding: 5rem 5rem 5rem 5rem;
}

.section-4 > .container > .section-4-main > .section-left {
  object-fit: contain;
  width: 50%;
  text-align: center;
}

.section-4 > .container > .section-4-main > .section-right {
  width: 50%;
}

.section-4
  > .container
  > .section-4-main
  > .section-right
  > .text-line-1
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
  color: #343434;
}

.section-4 > .container > .section-4-main > .section-right > .text-line-2 {
  margin-top: 1.5rem;
}

.section-4
  > .container
  > .section-4-main
  > .section-right
  > .text-line-2
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
}

@media (max-width: 1200px) {
  .section-4 > .container > .section-4-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

@media (max-width: 1024px) {
  .section-4 > .container > .section-4-main {
    flex-direction: column;
    padding: 5rem 5rem 5rem 5rem;
  }
  .section-4 > .container > .section-4-main > .section-left {
    width: 90%;
  }
  .section-4 > .container > .section-4-main > .section-left > img {
    width: inherit;
  }
  .section-4 > .container > .section-4-main > .section-right {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-4 > .container > .section-4-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

/* Section-5 */

.section-5 {
  background-color: #c4bfff21;
}

.section-5 > .container > .section-5-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding: 5rem 5rem 5rem 5rem;
}

.section-5 > .container > .section-5-main > .section-left {
  width: 50%;
}

.section-5 > .container > .section-5-main > .section-right {
  object-fit: contain;
  width: 50%;
  text-align: center;
}

.section-5
  > .container
  > .section-5-main
  > .section-left
  > .text-line-1
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
  color: #343434;
}

.section-5 > .container > .section-5-main > .section-left > .text-line-2 {
  margin-top: 1.5rem;
}

.section-5
  > .container
  > .section-5-main
  > .section-left
  > .text-line-2
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
}

@media (max-width: 1200px) {
  .section-5 > .container > .section-5-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

@media (max-width: 1024px) {
  .section-5 > .container > .section-5-main {
    flex-direction: column-reverse;
    padding: 5rem 5rem 5rem 5rem;
  }
  .section-5 > .container > .section-5-main > .section-right {
    width: 90%;
  }
  .section-5 > .container > .section-5-main > .section-right > img {
    width: inherit;
  }
  .section-5 > .container > .section-5-main > .section-left {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-5 > .container > .section-5-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

/* Section-6 */

.section-6 {
  background-color: #c4bfff21;
}

.section-6 > .container > .section-6-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  padding: 5rem 5rem 5rem 5rem;
}

.section-6 > .container > .section-6-main > .section-left {
  object-fit: contain;
  width: 50%;
  text-align: center;
}

.section-6 > .container > .section-6-main > .section-right {
  width: 50%;
}

.section-6
  > .container
  > .section-6-main
  > .section-right
  > .text-line-1
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
  color: #343434;
}

.section-6 > .container > .section-6-main > .section-right > .text-line-2 {
  margin-top: 1.5rem;
}

.section-6
  > .container
  > .section-6-main
  > .section-right
  > .text-line-2
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
}

@media (max-width: 1200px) {
  .section-6 > .container > .section-6-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

@media (max-width: 1024px) {
  .section-6 > .container > .section-6-main {
    flex-direction: column;
    padding: 5rem 5rem 5rem 5rem;
  }
  .section-6 > .container > .section-6-main > .section-left {
    width: 90%;
  }
  .section-6 > .container > .section-6-main > .section-left > img {
    width: inherit;
  }
  .section-6 > .container > .section-6-main > .section-right {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-6 > .container > .section-6-main {
    padding: 2rem 0rem 2rem 0rem;
  }
}

/* .section-7 */

.section-7 {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.section-7 > .section-title {
  padding: 0 !important;
}

.section-7 > .section-title > .text-line-1 {
padding-bottom: 1rem;
}

.section-7 > .section-title > .text-line-1 > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #343434;
}

.section-7 > .section-title > .text-line-1 > span > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #7e5bf6;
}

.section-7 > .section-title > .text-line-2 > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  color: #74767e;
}

.section-7 > .container {
  padding: 5rem 0.5rem;
}

.section-7 > .container > .slide-content {
  overflow: hidden;
}
.section-7 > .container > .slide-content > .card-wrapper > .card {
  border-radius: 30px !important;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

.section-7 > .container > .slide-content > .card-wrapper > .card > .card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.section-7
  > .container
  > .slide-content
  > .card-wrapper
  > .card
  > .card-head
  > .profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.section-7
  > .container
  > .slide-content
  > .card-wrapper
  > .card
  > .card-head
  > .icon-colon {
  position: relative;
  top: 0;
}

.section-7
  > .container
  > .slide-content
  > .card-wrapper
  > .card
  > .card-head
  > .profile-content
  > div
  > img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.section-7
  > .container
  > .slide-content
  > .card-wrapper
  > .card
  > .card-head
  > .profile-content
  > div
  > .text-line-1 {
  margin-bottom: 0.5rem;
}

.section-7
  > .container
  > .slide-content
  > .card-wrapper
  > .card
  > .card-head
  > .profile-content
  > div
  > .text-line-1
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: 0.002em;

  color: #343434;
}

.section-7
  > .container
  > .slide-content
  > .card-wrapper
  > .card
  > .card-head
  > .profile-content
  > div
  > .text-line-2
  > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #74767e;
}

.section-7
  > .container
  > .slide-content
  > .card-wrapper
  > .card
  > .card-content
  > p {
  padding: 0 2rem 2rem 2rem;

  margin: 0;

  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #74767e;
}

.swiper-pagination-bullet {
  /* background-color: #6e93f7; */
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #7E5BF6 !important;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

/* Section-8 */

.section-8 > .container > .section-8-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("/assets/images/Group\ 312.png"); */
  background-image: url('../images/Group\ 312.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #7e5bf6; */
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 2rem;
  border-radius: 8px;
}

.section-8 > .container > .section-8-main > .text-line-1 > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -2px;
  color: #ffffff;
}

.section-8 > .container > .section-8-main > .text-line-2 {
  width: 50%;
  text-align: center;
}

.section-8 > .container > .section-8-main > .text-line-2 > span {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.section-8 > .container > .section-8-main > div > a > button {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7e5bf6;
  border: none;
  border-radius: 4px;
  background: #ffffff;
  padding: 0.8rem 3.5rem 0.8rem 3.5rem;
}

/* footer */

.footer-line-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
}

.footer-line-1 > div > a > span {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #74767e;
  padding: 0rem 1rem 0rem 1rem;
}

.footer-line-1 > div > a > .border-class {
  border-right: 2px solid #74767e;
}

.footer-line-2 {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.footer-line-2 > div > span {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #74767e;
}

@media (min-width: 576px) {
}



